@using Entities
@using Business

<hr />

@*<div class="alert alert-success" role="alert" >@message</div>*@

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha Entrada</th>
            <th>Cantidad Parcial</th>
            <th>Producto</th>
            <th>Bodega</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var storage in storages)
        {
        <tr>
            <td>@storage.StorageId</td>
            <td>@storage.LastUpdate</td>
            <td>@storage.PartialQuantity</td>
            <td>@storage.Product.ProductName</td>
            <td>@storage.Warehouse.WarehouseName</td>
            <td>
                <a class="btn btn-warning" href="storage/update/@storage.StorageId">Editar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string message { get; set; }
    List<StorageEntity> storages = new List<StorageEntity>();
    protected override async Task OnInitializedAsync()
    {
        storages = B_Storage.StorageList();
        message = message;
    }
}
